/* All styles for your header Components live here */

.HeaderComponent{
    width: 100%;
    display: flex;
}
.header-img{
     width: 10%;
     height:40%;
}
.HeaderDetails{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.HeaderContent{
    padding-top: 0;
    margin-block-end: 0;
}

span{
color: grey;
}

